@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary-50: #fcfcfa;
  --color-primary-100: #fcfcf7;
  --color-primary-200: #f7f7ed;
  --color-primary-300: #f2f1e1;
  --color-primary-400: #e8e5cc;
  --color-primary-500: #ddd8b8;
  --color-primary-600: #c7be95;
  --color-primary-700: #a69767;
  --color-primary-800: #857142;
  --color-primary-900: #634c25;
  --color-primary-950: #402b0f;

  /* Fonts */
  --font-cursive: Delius Swash Caps;
  --font-mono: Inconsolata;
  --font-sans: Inter;
  --font-serif: Lora;

  /* Breakpoints */
  --breakpoint-sm: 30rem;
}
